/* src\pages\Lista\styles.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    
}

.pagina-lista-usuarios {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    background: #f4f6fc;
    padding: 40px;
    margin-top: 170px;
    background: linear-gradient(130deg, #093c2d, #f7ff3c);
}

.container-lista {
    display: flex;
    width: 900px;
    height: 500px;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.container-esquer {
    flex: 1;
    background: #f7f7f7;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    flex-direction: column;
    text-align: center;
}

.container-esquer h2 {
    font-size: 30px;
    color: #284ea7;
    margin-bottom: 20px;
}

.lista-usuarios {
    max-height: 500px;
    overflow-y: auto;
    width: 100%;
}


.container-dire {
    flex: 1;
    background: #021b33;
    color: white;
    padding: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-dire .link-voltar-c {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
    width: 70%;
    background: #093c2d;
    color: #f7ff3c;
    font-family: 'Times New Roman', Times, serif;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.container-direita .link-voltar-c:hover {
    background: #0c503d;
}


