/* src\components\FormularioCadastro\styles.css */

 .container-formulario {
    display: flex;
    width: 900px;
    height: 500px;
    background: white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.container-esq {
    flex: 1;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.container-dir {
    flex: 1;
    background: #021b33;
    color: white;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  
.container-dir h2 {
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.formulario-cbf {
    width: 250px;
    margin-bottom: 20px;
}

.container-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

input {
    margin-bottom: 5px;
    width: 70%;
    padding: 5px;
    border-radius: 30px;
    border: none;
    outline: none;
}
  
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 15px;
}
  
input,
button {
    width: 120%;
    border-radius: 30px;
    box-sizing: border-box;
    font-size: 14px;
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120%;
}
  
.btn-cadastrar {
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    background: #093c2d;
    color: #f7ff3c;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
    margin-right: 20px;
    transition: 0.3s;
}
  
.btn-cadastrar:hover {
    background-color: #218838;
}
  
.link-usuarios {
    padding: 10px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-weight: bold;
    background: #093c2d;
    color: #f7ff3c;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 5px;
    transition: 0.3s;
}
  
.link-usuarios:hover {
    background-color: #218838;
}
